<div class="containerAcordeon">
  <div class="titleAcordeon">
    <h6><samp>Preguntas frecuentes</samp></h6>
  </div>
  <div *ngIf="preguntas" class="acordeon" >
    <div *ngFor="let pregunta of preguntas" class="acordeon-item">
      <div class="acordeon-header">
        <button>{{ pregunta.pregunta }}</button>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="fill: #fff" > <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
        </svg>
      </div>
      <div class="acordeon-content">
        <p>
          {{ pregunta.respuesta}}
        </p>
      </div>
    </div>
  </div>
</div>
