/*###############*/
/*## CONTENIDO ##*/
/*###############*/

.titleContenido {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleContenido h6 {
  font-size: clamp(0px, 4vw, 45px);
  color: #470981;
}

.sectionCards {
  width: 90%; /* Ancho del div */
  margin: auto;
  min-height: 500px;
}

.sectionCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #13b08927;
  border-radius: 30px;
  border: 2px solid #13b08a;
  display: flex;
  align-items: center;
  //min-width: 300px;
  min-height: 200px;
  margin: 20px;
  flex: 1 0 calc(40%);
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  background: #13b08952;
  transform: translateY(-5px);
}

.imgCard {
  width: 30%;
  text-align: center;
}

.imgCard svg {
  max-width: 60%;
  max-height: auto;
}

.textCard {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.textCard h3 {
  color: #470981;
  font-size: clamp(0px, 4vw, 22px);
}

.textCard p {
  font-size: clamp(0px, 2vw, 16px);
  margin-right: 2%;
}

@media (min-width: 401px) and (max-width: 599px) {
  .titleContenido h6 {
    font-size: 28px;
  }
  .textCard p {
    font-size: 14px;
  }

  .sectionCards{
    flex-direction: column;
  }

  .textCard h3{
    font-size: 24px;
  }

  .card{
    flex-direction: row;
  }
}

@media (max-width: 400px){
  .titleContenido h6 {
    font-size: 28px;
  }
  .textCard h3{
    font-size: 26px;
  }
  .textCard p {
    font-size: 16px;
  }
}
